<!-- NAV BAR -->
<nav class="teal lighten-2">
    <div class="container">
        <div class="nav-wrapper">
            <a href="index.html" class="brand-logo">Logo</a>
            <a href="#" data-target="menu-responsive" class="sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>

            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/quienes-somos">Quiénes somos</a></li>
                <li><a href="/servicios">Servicios</a></li>
                <li><a href="/contacto">Contacto</a></li>
            </ul>
        </div>
    </div>
</nav>
<ul class="sidenav" id="menu-responsive">
    <li><a href="/">Home</a></li>
    <li><a href="/quienes-somos">Quiénes somos</a></li>
    <li><a href="/servicios">Servicios</a></li>
    <li><a href="/contacto">Contacto</a></li>
</ul>